a {
    color: rgb(200, 200, 200);
    margin: 1px;
}
h1 {
    display: inline-block;
    color: rgb(200, 200, 200);
    margin: 1px;
    padding: 15px;
    background-color: rgb(50, 50, 50);
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}
h2 {
    color: rgb(240, 250, 50);
    margin: 15px;
    padding: 10px;
}
h3 {
    color: rgb(255, 109, 233);
    margin: 15px;
    padding: 5px;

}


body {
    background-color: rgb(0, 0, 0);
    margin: 1px;
    font-family: 'Comic Sans MS', cursive;
    min-width: 700px;
}
header {
    color: rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    text-align: center;
    min-width: 800px;
}
main {
    max-width: 1200px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    border: rgba(200, 200, 200, 10);
    border-radius: 30px;
    padding: 15px;
}
p, table {
    color: rgb(200, 200, 200);
    background-color: rgb(30, 30, 30);
    border: rgba(200, 200, 200, 10);
    border-radius: 30px;
    padding: 15px;
    margin: 10px;

}
/* input {
    /* margin: 0px 10px; */
nav {
    display: inline-block;
    text-align: center;
}
nav > a {
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    transition: all 0.2s;
}
nav > a:hover {
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}